doctype 5
html
  include head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a(href='/').brand Movies!
    section.content.container
      .row
        include titleList
        include titleDetails
