body {
  padding-top:60px;
  background-color: #dcd8e2;
  color: #3d3942;
}
@media screen and (max-width: 980px) {
    body { padding-top: 0px; }
}
a {
  color: #534c5e;
  cursor: pointer;
}
a:hover, a:visited {
  color: #3d3942;
}
.strong {
  font-weight: bold;
}
.small {
  font-size: 12px;
}
em.small {
  color: #534c5e;
}
em.list:after {
  content: ", ";
}
em.list:last-child:after {
  content: "";
}
.well {
  background-color: #d9d4e2;
}

.pad-left {
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.pad-left:hover {
  padding-left: 18px;
}
/* fancy effect */
.glow {
  cursor:pointer;
  transition-property: color;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.25s; 
  transition-property: background-color;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.25s; 
}
.glow:hover {
  background-color: #553b80;
  color: #bbb5c5;
}

